        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Bijouterie</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>

                            {#
                                la fonction twig path() permet de se diriger sur une route
                                mais son argument est le nom (name) de la route
                                (!!! dans les annotations le 1er argument est la route (à placer dans l'url) et le second name="" est le nom de la route )
                                
                                // path() peut avoir un 2e argument facultatif
                                // c'est un tableau (attention en twig : accolade)
                            
                            #}
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('pageName') }}">Page</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('catalogue') }}">Catalogue</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('produit_afficher') }}">Gestion des produits</a>
                        </li>
                    </ul>
           
                </div>
            </div>
        </nav>